node_modules
dist
.DS_Store
*.local
.env
data/*.db
data/*.db-*
public/_stock-tmp
servico/*.exe
servico/*.pdb
servico/*.pid
servico/logs
instantclient-basic-windows.x64-23.26.1.0.0/
tmp-*
*.pbix
*.zip
